.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 490px;
  width: 400px;
  margin: 30px 20px;
  background: #ffffff;

  &__img {
    width: 85%;
    margin: 5% auto 0 auto;
  }

  &__text {
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto 0 auto;

    &-name {
      font-weight: bold;
    }

    &-count {
      text-decoration: underline;
    }
  }

  &__description {
    margin: 5% 5% 0 5%;
    min-height: 70px;
  }

  &__btns {
    margin: auto;

    &-details {
      width: 50%;
      padding: 10px;
      border: none;
      border-radius: 8px 0 0 8px;

      &:hover {
        cursor: pointer;
        background: #acf34e;
        color: #2f2f2f;
        border: 3px solid #acf34e;
      }
    }

    &-delete {
      width: 50%;
      padding: 10px;
      border: none;
      border-radius: 0 8px 8px 0;

      &:hover {
        cursor: pointer;
        background: #f3674e;
        color: #2f2f2f;
        border: 3px solid #f3674e;
      }
    }
  }
}
