.modal {
  display: flex;
  z-index: 5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;

  &__window {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    background-color: #514ef3;
    color: #fff;

    &-question {
      margin: 20px auto 0;
      font-weight: 700;
    }

    &-btn-add {
      width: 80%;
      padding: 15px;
      cursor: pointer;
      background: #fff;
      font-weight: 700;
      color: #acf34e;
      border: none;
    }

    &-btn-cancel {
      width: 80%;
      padding: 15px;
      cursor: pointer;
      background: #fff;
      font-weight: 700;
      color: #f3674e;
      border: none;
    }
  }
}
